<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4 jumbotron-header">Independent Florida Alligator News Scraper</h1>
    <p class="lead jumbotron-text">The Independent Florida Alligator is the daily student newspaper of the University of Florida.</p>
    <p class="jumbotron-text">It's the largest student-run newspaper in the U.S., with a daily circulation of 35K and readership of over 52K.</p>
  </div>
</div>

<div class="container">
        <!--Top row with H1 and paragraph-->
        <div class="row">
            <p>Recent stories from The Independent Florida Alligator
            </p>
        </div>
        <!--3rd row with scraped information-->
        <div class="row">
            <div class="col-lg-7" id="stories"></div>
            <div class="col-lg-5" id="notes"></div>
        </div>
 </div>