    <div class="container">
        <!--Top row with H1 and paragraph-->
        <div class="row">
        <h1>Web Scraper</h1>
        </div>
        <div class="row">
            <p>This app scrapes UF's student newspaper, The Independent Florida Alligator
            </p>
        </div>
        <!--3rd row with scraped information-->
        <div class="row">
            <div class="col-lg-7" id="stories"></div>
            <div class="col-lg-5" id="notes"></div>
        </div>
    </div>